## Downloading the Data + PIP Installs

Data is already downloaded and provided in the repository, but it needs to be unzipped.

In [ ]:
import platform
import sys
mysystem = platform.system()

if mysystem != 'Windows':
    !unzip data/hotelReservations.zip

!{sys.executable} -m pip install pandas --user
!{sys.executable} -m pip install numpy --user
!{sys.executable} -m pip install seaborn --user

## Imports 

Here we include import statements and needed libraries to perform this assignment.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn

## Finishing Up Preprocessing and Building our First Model

#### Preprocessing

First, transform our data and remove the columns that we will not or cannot use for our model.

We will remove the columns: country, agent, and company. This is due to being categorical attributes with missing data values as it would be inaccurate to impute the data with a set value.

Another two columns we will remove is reservation_status_date and reservation_status due to other columns being able to provide essential information for the model. We only need to know if a reservation is cancelled or not, which is provided already.

In [3]:
df = pd.read_csv('./hotel_bookings.csv')
df = df.drop(columns=['country', 'agent', 'company', 'reservation_status_date', 'reservation_status'])
display(df)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,C,C,3,No Deposit,0,Transient,0.00,0,0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,C,C,4,No Deposit,0,Transient,0.00,0,0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,A,C,0,No Deposit,0,Transient,75.00,0,0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,A,A,0,No Deposit,0,Transient,75.00,0,0
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,A,A,0,No Deposit,0,Transient,98.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,A,A,0,No Deposit,0,Transient,96.14,0,0
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,E,E,0,No Deposit,0,Transient,225.43,0,2
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,D,D,0,No Deposit,0,Transient,157.71,0,4
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,A,A,0,No Deposit,0,Transient,104.40,0,0
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,A,A,0,No Deposit,0,Transient,151.20,0,2

Next, we need to impute our data.

The only column with missing values is the children's column. Thus, for values that are NULL, we will rewrite their value to zero.

In [4]:
df.isna().any()

hotel                             False
is_canceled                       False
lead_time                         False
arrival_date_year                 False
arrival_date_month                False
arrival_date_week_number          False
arrival_date_day_of_month         False
stays_in_weekend_nights           False
stays_in_week_nights              False
adults                            False
children                           True
babies                            False
meal                              False
market_segment                    False
distribution_channel              False
is_repeated_guest                 False
previous_cancellations            False
previous_bookings_not_canceled    False
reserved_room_type                False
assigned_room_type                False
booking_changes                   False
deposit_type                      False
days_in_waiting_list              False
customer_type                     False
adr                               False
required_car_parking_spaces       False
total_of_special_requests         False
dtype: bool

In [5]:
df = df.replace(np.nan, 0)
df['children'].value_counts()

0.0     110800
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: children, dtype: int64

Next, we need to scale our data. 

To do so, we need to determine the numerical attributes in our dataframe. From our data distribution exploration, the numerical attributes are: lead_time, stays_in_week_nights, stays_in_weekend_nights, adults, children, babies, previous_cancellations, previous_bookings_not_canceled, booking_changes, days_in_waiting_list, adr, and total_of_special_requests.

In [6]:
from sklearn.preprocessing import MinMaxScaler

norm_scaler = MinMaxScaler()
numericalAttribs = ['lead_time', 
                    'stays_in_week_nights', 
                    'stays_in_weekend_nights', 
                    'adults',
                    'children',
                    'babies',
                    'previous_cancellations',
                    'previous_bookings_not_canceled',
                    'booking_changes',
                    'days_in_waiting_list',
                    'adr',
                    'total_of_special_requests']

df[numericalAttribs] = norm_scaler.fit_transform(df[numericalAttribs])
display(df[numericalAttribs])

,lead_time,stays_in_week_nights,stays_in_weekend_nights,adults,children,babies,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,total_of_special_requests
0,0.464043,0.00,0.000000,0.036364,0.0,0.0,0.0,0.0,0.142857,0.0,0.001180,0.0
1,1.000000,0.00,0.000000,0.036364,0.0,0.0,0.0,0.0,0.190476,0.0,0.001180,0.0
2,0.009498,0.02,0.000000,0.018182,0.0,0.0,0.0,0.0,0.000000,0.0,0.015053,0.0
3,0.017639,0.02,0.000000,0.018182,0.0,0.0,0.0,0.0,0.000000,0.0,0.015053,0.0
4,0.018996,0.04,0.000000,0.036364,0.0,0.0,0.0,0.0,0.000000,0.0,0.019307,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0.031208,0.10,0.105263,0.036364,0.0,0.0,0.0,0.0,0.000000,0.0,0.018963,0.0
119386,0.138399,0.10,0.105263,0.054545,0.0,0.0,0.0,0.0,0.000000,0.0,0.042877,0.4
119387,0.046133,0.10,0.105263,0.036364,0.0,0.0,0.0,0.0,0.000000,0.0,0.030351,0.8
119388,0.147897,0.10,0.105263,0.036364,0.0,0.0,0.0,0.0,0.000000,0.0,0.020491,0.0
119389,0.278155,0.14,0.105263,0.036364,0.0,0.0,0.0,0.0,0.000000,0.0,0.029147,0.4

Next, we are going to encode our categorical attributes in the dataframe.

To do so, we need to determine our categorical attributes in our dataframe. From our data exploration, the categorical attributes are: hotel, arrival_date_month, arrival_date_year, arrival_date_week_number, arrival_date_day_of_month, meal, market_segment, distribution_channel, is_repeated_guest, reserved_room_type, assigned_room_type, deposit_type, customer_type, and required_car_parking_spaces.

In [7]:
categoricalAttribs = ['hotel',
                      'arrival_date_month',
                      'arrival_date_year',
                      'arrival_date_week_number',
                      'arrival_date_day_of_month',
                      'meal',
                      'market_segment',
                      'distribution_channel',
                      'is_repeated_guest',
                      'reserved_room_type',
                      'assigned_room_type',
                      'deposit_type',
                      'customer_type',
                      'required_car_parking_spaces']

encodings = {}
for a in categoricalAttribs:
    keys = {}
    iter = 0
    for val in list(df[a].unique()):
        keys[val] = iter
        iter += 1
    encodings[a] = keys

df = df.replace(encodings)
df[categoricalAttribs]

,hotel,arrival_date_month,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,meal,market_segment,distribution_channel,is_repeated_guest,reserved_room_type,assigned_room_type,deposit_type,customer_type,required_car_parking_spaces
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,1,1,0,1,1,0,0,0
4,0,0,0,0,0,0,2,2,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,1,1,2,8,29,0,3,2,0,1,1,0,0,0
119386,1,1,2,8,30,0,2,2,0,3,3,0,0,0
119387,1,1,2,8,30,0,2,2,0,2,2,0,0,0
119388,1,1,2,8,30,0,2,2,0,1,1,0,0,0
119389,1,1,2,8,28,2,2,2,0,1,1,0,0,0

#### Building Second Model

First, lets build and train our first model by splitting the data into X and y | Test and Train for cross validation.

In [8]:
from sklearn.model_selection import train_test_split 
Train, Test = train_test_split(df, test_size=0.3)

X_train = Train.drop('is_canceled', axis = 1)
X_test = Test.drop('is_canceled', axis = 1)

y_train = Train['is_canceled']
y_test = Test['is_canceled']

display(X_train, X_test, y_train, y_test)

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
50211,1,0.099050,1,9,44,25,0.000000,0.06,0.036364,0.0,...,0.0,1,1,0.000000,0,0.0,0,0.015430,0,0.0
39538,0,0.419267,2,1,7,20,0.052632,0.04,0.036364,0.0,...,0.0,1,1,0.000000,0,0.0,0,0.034692,0,0.2
15983,0,0.130258,0,1,5,2,0.105263,0.10,0.036364,0.0,...,0.0,2,2,0.000000,0,0.0,0,0.035584,0,0.0
86648,1,0.074627,1,9,41,5,0.000000,0.02,0.036364,0.0,...,0.0,1,1,0.000000,0,0.0,2,0.020417,0,0.0
37628,0,0.180461,2,11,51,19,0.000000,0.08,0.036364,0.0,...,0.0,1,1,0.000000,0,0.0,0,0.019085,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106556,1,0.000000,2,7,35,26,0.000000,0.00,0.000000,0.0,...,0.0,1,11,0.000000,0,0.0,0,0.001180,0,0.0
87726,1,0.052917,1,9,44,23,0.052632,0.00,0.036364,0.0,...,0.0,1,1,0.000000,0,0.0,0,0.018659,0,0.2
90673,1,0.160109,1,11,50,5,0.052632,0.06,0.018182,0.0,...,0.0,1,1,0.047619,0,0.0,2,0.021526,0,0.0
6379,0,0.127544,1,11,50,5,0.052632,0.10,0.036364,0.0,...,0.0,1,1,0.095238,0,0.0,0,0.025207,0,0.0
49607,1,0.122117,1,9,42,14,0.105263,0.10,0.036364,0.0,...,0.0,1,1,0.000000,0,0.0,0,0.018003,0,0.0

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
86030,1,0.002714,1,8,39,23,0.000000,0.04,0.054545,0.0,...,0.000000,1,2,0.047619,0,0.0,0,0.035338,1,0.4
72550,1,0.278155,2,0,4,29,0.105263,0.10,0.036364,0.0,...,0.000000,1,1,0.000000,0,0.0,0,0.022320,0,0.0
87023,1,0.010855,1,9,42,10,0.052632,0.02,0.054545,0.0,...,0.000000,2,5,0.000000,0,0.0,0,0.030960,0,0.0
1092,0,0.120760,0,1,6,12,0.105263,0.10,0.036364,0.0,...,0.000000,1,7,0.000000,0,0.0,1,0.021009,0,0.4
33245,0,0.130258,2,8,38,18,0.105263,0.10,0.018182,0.0,...,0.027778,1,2,0.000000,0,0.0,2,0.006729,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73576,1,0.278155,2,1,7,25,0.105263,0.10,0.036364,0.0,...,0.000000,2,2,0.095238,0,0.0,0,0.031520,0,0.0
43098,1,0.047490,0,2,11,13,0.105263,0.10,0.036364,0.0,...,0.000000,1,1,0.047619,0,0.0,0,0.013663,0,0.0
44746,1,0.107191,0,3,14,9,0.052632,0.02,0.036364,0.0,...,0.000000,1,3,0.000000,0,0.0,2,0.012648,0,0.0
15213,0,0.362280,0,2,12,25,0.105263,0.10,0.036364,0.0,...,0.000000,1,1,0.000000,2,0.0,0,0.011351,0,0.0
40136,1,0.004071,0,0,1,10,0.000000,0.02,0.036364,0.0,...,0.000000,1,1,0.000000,0,0.0,2,0.015053,0,0.0

50211     1
39538     0
15983     0
86648     0
37628     0
         ..
106556    0
87726     0
90673     0
6379      1
49607     1
Name: is_canceled, Length: 83573, dtype: int64

86030    0
72550    1
87023    0
1092     1
33245    0
        ..
73576    1
43098    0
44746    0
15213    1
40136    0
Name: is_canceled, Length: 35817, dtype: int64

#### Model 2 Testing

In [23]:
from sklearn.model_selection import train_test_split 

Train, Test = train_test_split(df, test_size=0.3)

X_train = Train.drop('is_canceled', axis = 1)
X_test = Test.drop('is_canceled', axis = 1)

X_train = X_train[categoricalAttribs]
X_test = X_test[categoricalAttribs]

y_train = Train['is_canceled']
y_test = Test['is_canceled']

NB = CategoricalNB()
NB.fit(X_train, y_train)
print(classification_report(y_train, NB.predict(X_train)))
print(classification_report(y_test, NB.predict(X_test)))

              precision    recall  f1-score   support

           0       0.74      0.83      0.78     52591
           1       0.64      0.51      0.57     30982

    accuracy                           0.71     83573
   macro avg       0.69      0.67      0.68     83573
weighted avg       0.71      0.71      0.70     83573

              precision    recall  f1-score   support

           0       0.75      0.83      0.79     22575
           1       0.64      0.52      0.57     13242

    accuracy                           0.71     35817
   macro avg       0.69      0.67      0.68     35817
weighted avg       0.71      0.71      0.71     35817

In [36]:
from sklearn.neighbors import KNeighborsRegressor

Train, Test = train_test_split(df, test_size=0.3)

X_train = Train.drop('is_canceled', axis = 1)
X_test = Test.drop('is_canceled', axis = 1)

y_train = Train['is_canceled']
y_test = Test['is_canceled']

knn = KNeighborsRegressor(n_neighbors = 8)
knn.fit(X_train, y_train)

yhat_train_model = knn.predict(X_train)
yhat_train_model = [1 if y>=0.5 else 0 for y in yhat_train_model]
yhat_test_model = knn.predict(X_test)
yhat_test_model = [1 if y>=0.5 else 0 for y in yhat_test_model]

print(classification_report(y_train, yhat_train_model))
print(classification_report(y_test, yhat_test_model))

              precision    recall  f1-score   support

           0       0.87      0.86      0.86     52763
           1       0.76      0.77      0.77     30810

    accuracy                           0.83     83573
   macro avg       0.81      0.82      0.81     83573
weighted avg       0.83      0.83      0.83     83573

              precision    recall  f1-score   support

           0       0.82      0.81      0.82     22403
           1       0.69      0.70      0.70     13414

    accuracy                           0.77     35817
   macro avg       0.76      0.76      0.76     35817
weighted avg       0.77      0.77      0.77     35817

In [38]:
model = Sequential() 

model.add(Dense(units = 50, activation = 'relu', input_dim = 26))
model.add(Dense(units = 35, activation = 'softmax'))
model.add(Dense(units = 35, activation = 'softmax'))
model.add(Dense(units = 20, activation = 'tanh'))
model.add(Dense(units = 20, activation = 'tanh'))
model.add(Dense(units = 10, activation = 'tanh'))
model.add(Dense(units = 1, activation = 'sigmoid'))

model.compile(optimizer = 'rmsprop', loss = 'binary_crossentropy')
model.fit(X_train.astype('float'), y_train, batch_size = 1, epochs = 100)

Epoch 1/100
83573/83573 [==============================] - 48s 571us/step - loss: 0.5411
Epoch 2/100
83573/83573 [==============================] - 48s 573us/step - loss: 0.5330
Epoch 3/100
83573/83573 [==============================] - 48s 575us/step - loss: 0.5424
Epoch 4/100
83573/83573 [==============================] - 48s 580us/step - loss: 0.5398
Epoch 5/100
83573/83573 [==============================] - 49s 580us/step - loss: 0.5391
Epoch 6/100
83573/83573 [==============================] - 49s 587us/step - loss: 0.5326
Epoch 7/100
83573/83573 [==============================] - 49s 586us/step - loss: 0.5353
Epoch 8/100
83573/83573 [==============================] - 49s 587us/step - loss: 0.5230
Epoch 9/100
83573/83573 [==============================] - 49s 584us/step - loss: 0.5240
Epoch 10/100
83573/83573 [==============================] - 47s 561us/step - loss: 0.5226
Epoch 11/100
83573/83573 [==============================] - 47s 559us/step - loss: 0.5257
Epoch 12/100
83573/83573 [==============================] - 47s 559us/step - loss: 0.5243
Epoch 13/100
83573/83573 [==============================] - 47s 558us/step - loss: 0.5218
Epoch 14/100
83573/83573 [==============================] - 46s 556us/step - loss: 0.5179
Epoch 15/100
83573/83573 [==============================] - 47s 558us/step - loss: 0.5176
Epoch 16/100
83573/83573 [==============================] - 47s 559us/step - loss: 0.5182
Epoch 17/100
83573/83573 [==============================] - 47s 559us/step - loss: 0.5180
Epoch 18/100
83573/83573 [==============================] - 48s 573us/step - loss: 0.5217
Epoch 19/100
83573/83573 [==============================] - 47s 560us/step - loss: 0.5216
Epoch 20/100
83573/83573 [==============================] - 47s 559us/step - loss: 0.5221
Epoch 21/100
83573/83573 [==============================] - 47s 561us/step - loss: 0.5214
Epoch 22/100
83573/83573 [==============================] - 47s 565us/step - loss: 0.5200
Epoch 23/100
83573/83573 [==============================] - 47s 562us/step - loss: 0.5213
Epoch 24/100
83573/83573 [==============================] - 47s 562us/step - loss: 0.5202
Epoch 25/100
83573/83573 [==============================] - 47s 562us/step - loss: 0.5200
Epoch 26/100
83573/83573 [==============================] - 46s 556us/step - loss: 0.5201
Epoch 27/100
83573/83573 [==============================] - 46s 556us/step - loss: 0.5204
Epoch 28/100
83573/83573 [==============================] - 47s 560us/step - loss: 0.5192
Epoch 29/100
83573/83573 [==============================] - 47s 560us/step - loss: 0.5193
Epoch 30/100
83573/83573 [==============================] - 47s 560us/step - loss: 0.5216
Epoch 31/100
83573/83573 [==============================] - 47s 559us/step - loss: 0.5270
Epoch 32/100
83573/83573 [==============================] - 47s 568us/step - loss: 0.5226
Epoch 33/100
83573/83573 [==============================] - 49s 587us/step - loss: 0.5240
Epoch 34/100
83573/83573 [==============================] - 49s 588us/step - loss: 0.5519
Epoch 35/100
83573/83573 [==============================] - 48s 572us/step - loss: 0.5191
Epoch 36/100
83573/83573 [==============================] - 48s 569us/step - loss: 0.5166
Epoch 37/100
83573/83573 [==============================] - 48s 571us/step - loss: 0.5168
Epoch 38/100
83573/83573 [==============================] - 49s 581us/step - loss: 0.5214
Epoch 39/100
83573/83573 [==============================] - 49s 591us/step - loss: 0.5167
Epoch 40/100
83573/83573 [==============================] - 49s 582us/step - loss: 0.5174
Epoch 41/100
83573/83573 [==============================] - 49s 590us/step - loss: 0.5170
Epoch 42/100
83573/83573 [==============================] - 49s 588us/step - loss: 0.5169
Epoch 43/100
83573/83573 [==============================] - 50s 595us/step - loss: 0.5195
Epoch 44/100
83573/83573 [==============================] - 48s 570us/step - loss: 0.5206
Epoch 45/100
83573/83573 [==============================] - 48s 569us/step - loss: 0.5260
Epoch 46/100
83573/83573 [==============================] - 48s 574us/step - loss: 0.5403
Epoch 47/100
83573/83573 [==============================] - 48s 575us/step - loss: 0.5857
Epoch 48/100
83573/83573 [==============================] - 48s 569us/step - loss: 0.5154
Epoch 49/100
83573/83573 [==============================] - 48s 573us/step - loss: 0.5242
Epoch 50/100
83573/83573 [==============================] - 48s 574us/step - loss: 0.5159
Epoch 51/100
83573/83573 [==============================] - 48s 571us/step - loss: 0.5165
Epoch 52/100
83573/83573 [==============================] - 48s 571us/step - loss: 0.5188
Epoch 53/100
83573/83573 [==============================] - 48s 572us/step - loss: 0.5149
Epoch 54/100
83573/83573 [==============================] - 48s 579us/step - loss: 0.5173
Epoch 55/100
83573/83573 [==============================] - 48s 572us/step - loss: 0.5124
Epoch 56/100
83573/83573 [==============================] - 48s 577us/step - loss: 0.5117
Epoch 57/100
83573/83573 [==============================] - 48s 577us/step - loss: 0.5117
Epoch 58/100
83573/83573 [==============================] - 48s 577us/step - loss: 0.5117
Epoch 59/100
83573/83573 [==============================] - 48s 576us/step - loss: 0.5141
Epoch 60/100
83573/83573 [==============================] - 48s 579us/step - loss: 0.5234
Epoch 61/100
83573/83573 [==============================] - 49s 581us/step - loss: 0.5154
Epoch 62/100
83573/83573 [==============================] - 49s 584us/step - loss: 0.5186
Epoch 63/100
83573/83573 [==============================] - 49s 582us/step - loss: 0.5116
Epoch 64/100
83573/83573 [==============================] - 49s 585us/step - loss: 0.5135
Epoch 65/100
83573/83573 [==============================] - 49s 588us/step - loss: 0.5118
Epoch 66/100
83573/83573 [==============================] - 48s 580us/step - loss: 0.5186
Epoch 67/100
83573/83573 [==============================] - 49s 583us/step - loss: 0.5153
Epoch 68/100
83573/83573 [==============================] - 48s 578us/step - loss: 0.5239
Epoch 69/100
83573/83573 [==============================] - 49s 581us/step - loss: 0.5223
Epoch 70/100
83573/83573 [==============================] - 49s 586us/step - loss: 0.5217
Epoch 71/100
83573/83573 [==============================] - 48s 578us/step - loss: 0.5236
Epoch 72/100
83573/83573 [==============================] - 49s 581us/step - loss: 0.5185
Epoch 73/100
83573/83573 [==============================] - 48s 580us/step - loss: 0.5120
Epoch 74/100
83573/83573 [==============================] - 48s 576us/step - loss: 0.5137
Epoch 75/100
83573/83573 [==============================] - 49s 583us/step - loss: 0.5110
Epoch 76/100
83573/83573 [==============================] - 48s 576us/step - loss: 0.5154
Epoch 77/100
83573/83573 [==============================] - 48s 578us/step - loss: 0.5163
Epoch 78/100
83573/83573 [==============================] - 48s 578us/step - loss: 0.5156
Epoch 79/100
83573/83573 [==============================] - 48s 570us/step - loss: 0.5134
Epoch 80/100
83573/83573 [==============================] - 48s 572us/step - loss: 0.5140
Epoch 81/100
83573/83573 [==============================] - 48s 573us/step - loss: 0.5142
Epoch 82/100
83573/83573 [==============================] - 48s 576us/step - loss: 0.5208
Epoch 83/100
83573/83573 [==============================] - 48s 570us/step - loss: 0.5140
Epoch 84/100
83573/83573 [==============================] - 48s 575us/step - loss: 0.5208
Epoch 85/100
83573/83573 [==============================] - 48s 574us/step - loss: 0.5162
Epoch 86/100
83573/83573 [==============================] - 48s 579us/step - loss: 0.5178
Epoch 87/100
83573/83573 [==============================] - 48s 579us/step - loss: 0.5196
Epoch 88/100
83573/83573 [==============================] - 49s 583us/step - loss: 0.5178
Epoch 89/100
83573/83573 [==============================] - 48s 578us/step - loss: 0.5174
Epoch 90/100
83573/83573 [==============================] - 48s 574us/step - loss: 0.5168
Epoch 91/100
83573/83573 [==============================] - 48s 577us/step - loss: 0.5174
Epoch 92/100
83573/83573 [==============================] - 48s 573us/step - loss: 0.5135
Epoch 93/100
83573/83573 [==============================] - 48s 575us/step - loss: 0.5139
Epoch 94/100
83573/83573 [==============================] - 48s 577us/step - loss: 0.5169
Epoch 95/100
83573/83573 [==============================] - 48s 574us/step - loss: 0.5125
Epoch 96/100
83573/83573 [==============================] - 48s 573us/step - loss: 0.5180
Epoch 97/100
83573/83573 [==============================] - 48s 576us/step - loss: 0.5118
Epoch 98/100
83573/83573 [==============================] - 48s 579us/step - loss: 0.5158
Epoch 99/100
83573/83573 [==============================] - 48s 578us/step - loss: 0.5198
Epoch 100/100
83573/83573 [==============================] - 48s 574us/step - loss: 0.5209

In [39]:
yhat_train_model = model.predict(X_train.astype(float))
yhat_train_model = [1 if y>=0.5 else 0 for y in yhat_train_model]
yhat_test_model = model.predict(X_test.astype(float))
yhat_test_model = [1 if y>=0.5 else 0 for y in yhat_test_model]

print(classification_report(y_train, yhat_train_model))
print(classification_report(y_test, yhat_test_model))

2612/2612 [==============================] - 1s 427us/step
1120/1120 [==============================] - 0s 424us/step
              precision    recall  f1-score   support

           0       0.77      0.95      0.85     52763
           1       0.86      0.51      0.64     30810

    accuracy                           0.79     83573
   macro avg       0.82      0.73      0.75     83573
weighted avg       0.80      0.79      0.77     83573

              precision    recall  f1-score   support

           0       0.77      0.96      0.85     22403
           1       0.87      0.52      0.65     13414

    accuracy                           0.79     35817
   macro avg       0.82      0.74      0.75     35817
weighted avg       0.81      0.79      0.78     35817

In [ ]:
from sklearn.svm import SVC
svm = SVC(kernel = 'linear')
svm.fit(X_train, y_train)

In [41]:
print(classification_report(y_test, svm.predict(X_test)))

              precision    recall  f1-score   support

           0       0.73      1.00      0.84     22403
           1       0.99      0.39      0.55     13414

    accuracy                           0.77     35817
   macro avg       0.86      0.69      0.70     35817
weighted avg       0.83      0.77      0.74     35817

In [42]:
from sklearn.svm import SVC
svm = SVC(kernel = 'rbf')
svm.fit(X_train, y_train)
print(classification_report(y_test, svm.predict(X_test)))

              precision    recall  f1-score   support

           0       0.71      1.00      0.83     22403
           1       0.99      0.34      0.50     13414

    accuracy                           0.75     35817
   macro avg       0.85      0.67      0.67     35817
weighted avg       0.82      0.75      0.71     35817